.services-container {
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.services-content {
    position: relative;
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.services-icon {
    display: block;
    color: var(--title-color);
    font-size: 2rem;
    margin-bottom: var(--mb-1);
}

.services-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.services-button {
    display: inline-flex;
    align-items: center;
    color: var(--title-color);
    column-gap: .25rem;
    cursor: pointer;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.services-button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.services-button:hover .services-button-icon{
    transform: translateX(0.25rem);
}

.services-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    padding: 0 1rem;
    transition: 0.3s;
}

.services-modal-content {
    position: relative;
    width: 500px;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.services-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.services-modal-title,
.services-modal-description {
    text-align: center;
}

.services-modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.services-modal-description {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
    padding: 0 3.5rem;
}

.services-modal-services {
    row-gap: .75rem;
}

.services-modal-service {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.service-modal-icon {
    font-size: 1.1rem;
    color: var(--title-color);
}

.service-modal-description {
    font-size: var(--small-font-size);
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 992px) {
    .services-container {
        grid-template-columns: repeat(3, 218px);
    }
    .services-content {
        padding: 4rem 0 1.8rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-content {
        padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    }
    .services-icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .services-modal-content {
        width: 350px;
    }
    .services-modal-description {
        padding: 0;
    }
    .services-modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }
}

@media screen and (max-width: 350px) {
    .services-container {
        grid-template-columns: repeat(2, 120px);
    }
    .services-content {
        padding: 1rem;
    }
    .services-icon {
        margin-bottom: .5rem;
    }
    .services-title {
        margin-bottom: .5rem;
    }
}